@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.home_bg {
    background-image: url("https://res.cloudinary.com/dafmi9027/image/upload/v1700924385/To-Do%20list/painting-mountain-lake-with-mountain-background_xjpyjg.jpg");
    background-size: cover;
    height: 100vh;
    padding: 20px;
    background-attachment: fixed;

}

.home-title {
    color: white;
    font-family: 'Alata', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.title-para {
    color: white;
    font-family: 'Alata', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.my_task_title {
    color: white;
    margin-top: 20px;
    font-family: Roboto;
}

.taskBox {
    background-color: #00000080;
    border-radius: 10px;
    border-style: solid;
    border-width: 12px;
    border-color: #2D9596;
    color: white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 10px;
    height: 50px;
    padding-right: 15px;
    padding-top: 14px;
    width: 100%;

}

.delete_icon {
    text-align: right;
    margin-left: auto;
    cursor: pointer;
}

.checkbox_style {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 12px;
    cursor: pointer;
    background-color: #DAFFFB;


}

.inputCont {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #2D9596;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add_btn_style {
    padding: 15px;
    background-color: #2D9596;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #2D9596;
    border-radius: 10px;
    margin-top: 10px;
}

.add_btn_style:hover {
    border-color: white;
    border-width: 2px;
}

.ulclass {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.check-mark {
    text-decoration: line-through;
    font-style: italic;
}